section#ksum-footer.section-content
  .container
    .row
      .col-sm-4.left-col
        img.img-fluid(src="./img/logo-white.svg" alt="ksum logo")
        .address
          p G3B, Thejaswini, Technopark Campus, Kariyavattom, Trivandrum, Kerala 695581
        .phone 
          div 
            i.fa.fa-phone
            | 08047180470
          p ( Timings: 08.00 am to 08.00 pm )
        .social
          a(href="https://www.facebook.com/keralastartupmission" target="_blank" rel="noopener" aria-label="fb link")
            i.fa.fa-facebook
          a(href="https://twitter.com/startup_mission" target="_blank" rel="noopener" aria-label="twitter link")
            i.fa.fa-twitter
          a(href="https://in.linkedin.com/company/kerala-startup-mission" target="_blank" rel="noopener" aria-label="linkedin link")
            i.fa.fa-linkedin
          a(href="https://www.pinterest.com/pin/796996465276301175/" target="_blank" rel="noopener" aria-label="pintrest link")
            i.fa.fa-pinterest
          a(href="https://www.youtube.com/results?search_query=kerala+startup+mission" target="_blank" rel="noopener" aria-label="youtube link")
            i.fa.fa-youtube-play
      .col-sm-4.links
        h4 Links
        ul
          li 
            a(href="https://www.mca.gov.in/Ministry/pdf/InvitationOfPublicCommentsHLC_18012019.pdf") Invitation for public comments for High Level Committee on Corporate Social Responsibility
          li 
            a(href="https://www.mca.gov.in/Ministry/pdf/General_Circular_21_2014.pdf") Clarifications with regard to provisions of Corporate Social Responsibility under section 135 of the Companies Act, 2013. 
          li 
            a(href="http://www.mca.gov.in/Ministry/pdf/Covid_23032020.pdf") MCA Clarification on spending of CSR funds for COVID -19
      .col-sm-4.right-col
        h4.text-white Contact
        p.m-0 M Fasil
        p.m-0 Email : fasil@startupmission.in
        p.m-0 Phone : +91 96050 35569
        

section#ksum-copy
  p Copyright © 2019 Kerala Startup Mission. All Rights Reserved.