nav.site-navigation
  .logo
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='ksum.pug') About KSUM
    li
      a(data-scroll, href='https://drive.google.com/file/d/1ooJoUGuEQCefWGj_nAdnW-MJ2PELssLZ/view?usp=sharing' target="_blank") CSR Policy
    li
      a(data-scroll, href='objectives.pug') Objectives
    li
      a(data-scroll, href='benefits.pug') Benefits
    li
      a(data-scroll, href='covid.pug') Covid-19
    //- li
    //-   a(data-scroll, href='#') Programs
    li
      a(data-scroll, href='#ksum-footer') Contact
    