@import "./mixins";
#slider-section {
  height: 40vh;
  background: url('../img/covid-header.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    font-size: 80px;
  }
}

#project {
  text-align: justify;
  line-height: 1.75;
  h4 {
    margin-bottom: 25px;
    &:after {
      content: "";
      width: 10%;
      background: #3fafef;
      display: block;
      height: 5px;
      margin-top: 15px;
    }
  }
}