@import "./mixins";
#slider-section {
  height: 60vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: bottom;
  // &::before {
  //   background-color: rgba(14, 8, 31, .8);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  // }
  #info-container {
    position: absolute;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    height: 100vh;
    width: auto;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#video-slider {
  height: 90vh;
}

$colors: #ffd52f #3fafef #1badc4 #ff802b #02c2a8 #02c2a8 #ffd52f #3fafef #1badc4 #ff802b;
#awards {
  .awards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .award {
      width: 100%;
      flex: 1 1 auto;
      padding: 30px 15px;
      @include my_bp(sm) {
        width: 20%;
      }
      &:hover {
        box-shadow: 0px 0px 5px rgba(200, 200, 200, .5);
      }
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          background: nth($colors, $i);
          color: white;
        }
      }
      h4 {
        font-size: 16px;
        text-align: center;
      }
      h2 {
        font-weight: 600;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 15px;
      }
    }
  }
}

#about-section {
  h2 {
    margin-bottom: 25px;
    &:after {
      content: "";
      width: 10%;
      background: #3fafef;
      display: block;
      height: 5px;
      margin-top: 15px;
    }
  }
  p {
    text-align: justify;
  }
  li {
    text-align: justify;
  }
}

#objectives {
  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
  }
}