@import "./mixins";
#slider-section {
  height: 40vh;
  background: url('../img/ksum-header.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    font-size: 80px;
  }
}

#about-section {
  text-align: justify;
  line-height: 1.75;
  h2 {
    margin-bottom: 25px;
    &:after {
      content: "";
      width: 10%;
      background: #3fafef;
      display: block;
      height: 5px;
      margin-top: 15px;
    }
  }
}

#objectives {
  text-align: justify;
  h2 {
    &:after {
      content: "";
      width: 10%;
      background: #3fafef;
      display: block;
      height: 5px;
      margin-top: 15px;
    }
  }
  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
  }
  .objectives {
    p {
      font-size: .9rem;
    }
  }
}

#awards {
  .awards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .award {
      width: 20%;
      flex: 1 1 auto;
      &:nth-of-type(1) {
        h2 {
          background-image: url('../img/countdown-day.png');
        }
      }
      &:nth-of-type(2) {
        h2 {
          background-image: url('../img/countdown-hour.png');
        }
      }
      &:nth-of-type(3) {
        h2 {
          background-image: url('../img/countdown-minute.png');
        }
      }
      &:nth-of-type(4) {
        h2 {
          background-image: url('../img/countdown-day.png');
        }
      }
      &:nth-of-type(5) {
        h2 {
          background-image: url('../img/countdown-hour.png');
        }
      }
      &:nth-of-type(6) {
        h2 {
          background-image: url('../img/countdown-minute.png');
        }
      }
      &:nth-of-type(7) {
        h2 {
          background-image: url('../img/countdown-day.png');
        }
      }
      &:nth-of-type(8) {
        h2 {
          background-image: url('../img/countdown-hour.png');
        }
      }
      &:nth-of-type(9) {
        h2 {
          background-image: url('../img/countdown-minute.png');
        }
      }
      &:nth-of-type(10) {
        h2 {
          background-image: url('../img/countdown-minute.png');
        }
      }
      h2 {
        text-align: center;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      h4 {
        display: flex;
        flex: 1 1 auto;
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
        padding: 10px;
      }
    }
  }
}