@import "./mixins";
#slider-section {
  height: 40vh;
  background: url('../img/objectives.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: white;
    font-size: 80px;
  }
}

#objectives {
  text-align: justify;
  h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
  }
  .objectives {
    p {
      font-size: .9rem;
    }
  }
}

h2 {
  &:after {
    content: "";
    width: 10%;
    background: #3fafef;
    display: block;
    height: 5px;
    margin-top: 15px;
  }
}