doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/objectives.scss")
  body

    include parts/menu.pug

    section#slider-section
      h2 Benefits

    section.section-content
      .container
        .row
          .col-sm-12
            h2 Benefits to Contributors
            p Kerala Startup Mission  shall mention the CSR contributors on its website including naming rights will be provided.
            p Kerala Startup Mission  will provide periodic reports on the following aspects to help the corporate meet its annual reporting requirements under CSR rules.
            ul 
              li Activities undertaken
              li Utilization of funds / financial report against planned budget
              li Impact of activities undertaken
    

    include parts/footer.pug

    script(src="./js/index.js")