doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/covid.scss")
  body

    include parts/menu.pug

    section#slider-section
      h2 Project Breath of Hope

    #project.section-content
      .container
        .row
          .col-sm-12
            p The Covid -19 pandemic has already spread more than 150 countries and has killed around 18000 human beings across the world. Since the virus is a recent phenomenon, there is no acquired immunity. As Medical world has not yet identified an appropriate vaccine to cure the disease, the world focuses on early identification and prevents the spread by ensuring social distance between people. Various countries have adopted measures to slow down the outbreak by reducing the increase in cases and limiting the number of severe patients that the health system has to manage.
            p Project Breath of Hope is to design, develop and manufacture Mechanical Ventilators, one of the key medical devices to treat COVID-19 patients using the tools and machines available at Fab Lab network with the support of Hardware experts from Startups and Fab Labs across the country. The proposed Mechanical Ventilators will act as breathing aid devices for bedridden patients.
            p Through this project, Kerala Startup Mission aims to manufacture 5000 Mechanical ventilators within two weeks duration and install them at hospitals identified at rural areas by the Department of Health Services.

          .col-sm-12
            h4 Objectives
            p The major Objectives of the Project are
            ul
              li Save the life of Innocent Citizens from the clutches of COVID
              li Address the shortage of Ventilators in Healthcare Institutions
              li Develop an indigenous Mechanical ventilators under Make in India brand

            h4 Our Process
            p The implementation of the Project has three phases
            ul
              li 
                b Design and Prototyping -
                | The most important aspect of this project is the design and prototyping of the Mechanical ventilators.  This is being carried out at Super Fab lab at Cochin.  A set of selected Hardware Startup Founders, Graduates from FAB Academy of MIT and professionals from Electronics Industry are working on design and prototyping of Mechanical ventilators and they are supported by a team of medical professionals.  Support is taken from experts from the Centre of Bits and Atoms, MIT.
              li 
                b Mass Manufacturing - 
                | Once the design and prototype is ready and is validated by Medical Professionals, the mass manufacturing will be carried out using the FAB networks across the State including one set up at Academic Institutions.
              li 
                b Deployment and Installation -  
                | Mechanical ventilators produced from FAB Lab network will be handed over to the Health Department for deployment and installations at the selected Healthcare Institutions.

            h4 Outcome Expected
            p Kerala Startup Mission believes that Project Breath of Hope would be able to save the lives of thousands of people by ensuring the availability of  the critical medical device, Ventilators during their treatment period at selected healthcare institutions.

          .col-sm-12
              h4 MCA Clarification on spending of CSR funds for COVID -19
              img.img-fluid(src="./img/csr.jpg")

    include parts/footer.pug

    script(src="./js/index.js")