doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/slider.jpg")
    //- #video-slider
    //-   #ytbg(data-youtube='https://www.youtube.com/watch?v=l7zB9kFVq6E')


    #about-section.section-content
      .container
        h2.mt-5 CSR Partnership with Kerala Startup Mission 
        p The government has introduced several provisions under the Companies Act, 2013, which enable corporates to contribute their Corporate Social Responsibility (CSR) funds to approved TBIs and registered not-for-profit entities that can act as start-up supporting entities in specific areas. Corporates can support KSUM startups through CSR donations and grants. Corporate can deploy their CSR funds towards supporting an innovative idea through KSUM.

        ul
          li Kerala Startup Mission  is a non-profit entity registered under society act 1956
          li Kerala Startup Mission (Technopark TBI ) is a  Incubator approved by the Department of Science and Technology’s National Science and Technology Entrepreneurship Development Board (Ministry of S&T, Govt. of India)
          li Kerala Startup Mission  is supported by Govt of Kerala as state nodal agency from 2014
          li As per the General Circular from the Ministry of Corporate Affairs (General Circular No. 21/2014) Govt-sponsored incubators eligible for receiving CSR funds from corporate. 

        .row.mt-5
          .col-sm-12
            h2 Get started 
            p We invite the corporates to partner with us and contribute to Kerala Startup Mission's  start-up vision for the nation through CSR. Kerala Startup Mission's  impeccable record, growth and global position will provide your company with unmatched potential for your CSR activities, with assured impact, value and visibility.
            p Contact KSUM to discuss and plan your CSR projects. We shall be happy to discuss over telephone or via in-person meetings. Contact information is provided.
          
            
        .row.mt-5
          .col-sm-12
            .text-center
              a.btn.btn-success(href="https://forms.zohopublic.com/keralastartupmission/form/EventRegistration10/formperma/_K5xkpd2RoizzqJv_G7PPHZwhK1aZBtEODyWVsS4cvc" target="_blank") Apply Now


            
          //- .col-sm-6
          //-     h4 MCA Clarification on spending of CSR funds for COVID -19
          //-     img.img-fluid(src="./img/csr.jpg")

      
      
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/youtube.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
