doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/ksum.scss")
  body

    include parts/menu.pug

    section#slider-section
      h2 Kerala Startup Mission

    section#about-section.mt-5.pt-5
      .container
        p Kerala Startup Mission (KSUM, formerly known as Technopark TBI) is the central agency of the Government of Kerala for entrepreneurship development and incubation activities in Kerala, India. KSUM was primarily founded to undertake the planning, establishment, and management of the Technology Business Incubator (TBI), a startup accelerator in Kerala, to promote technology-based entrepreneurship activities, and to create the infrastructure and environment required to support high-technology-based businesses.
        p Kerala Startup Mission played the pivotal role in development, orchestrating every piece of a vibrant Startup ecosystem. Startups in Kerala are stretching their limits as they focus more on to future technologies and finding solutions for problems in ways not experimented before. We have seen entrepreneurs from Kerala also shining in the limelight of success in international forums.
        
    #awards.section-content
      .container
        .awards
          .award
            h2 2006
            h4 India's First Non Academic Business Incubator
          .award
            h2 2007
            h4 Technology Business Incubator award by DST
          .award
            h2 2011
            h4 World's Second science based incubator
          .award
            h2 2012
            h4 Asian Association of Business Incubation award for best incubator
          .award
            h2 2014
            h4 Golden Peacock National Training Award
          .award
            h2 2015
            h4 Designated by GOK as Nodal Agency to support Technology Startups
          .award
            h2 2016
            h4 Chief Ministers Innovation award for developmental interventions
          .award
            h2 2018
            h4 Top Performer amoung state ecosystem enablers recognised by Govt of India
          .award
            h2 2019
            h4 Launched India's largest startup hub named Integrated Startup Complex
          .award
            h2 2019
            h4 World No. 1 Public Business Accelerator by UBI Global


    section.pb-5
      .container
        img.img-fluid(src="./img/impact.png")
    
    include parts/footer.pug

    script(src="./js/index.js")