doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/objectives.scss")
  body

    include parts/menu.pug

    section#slider-section
      h2 Objectives

    #objectives.mb-5.section-content
      .container
        .row
          .col-sm-12
            h2 Objectives
            p A vibrant entrepreneurial ecosystem needs strong capital inflows to fuel startups to become enterprises. Kerala Startup Mission In collaboration with corporates, aim to promote Incubators as Entrepreneurial hubs with intimate private sector engagement. Funds will be utilized for Entrepreneurship development programs  and creation of facilities for rapid growth and sustenance of start-up ventures:

        .row.justify-content-center.objectives
          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/promotion.png")
                h3 Promotion of Entrepreneurship among students 
                p The Innovation and Entrepreneurship Development Centres (IEDC) are platforms set up in Colleges with an aim to provide students an opportunity to experiment and innovate
          
          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/community.png")
                h3 Community Development for Entrepreneurship Development
                p Fostering communities for which enabling entrepreneurship culture  and technical discussions and knowledge sharing among youth

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/technolodge.png")
                h3 Support to Incubators/ Technolodges
                p Technolodges providing support for entrepreneurs from remote rural area by providing Infrastructure, Plug and Play workspace, mentorship, access to government support and many more

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/img4.png")
                h3 Future  Technologies Lab
                p Future Technologies Lab is an initiative by Kerala Startup Mission to provide necessary tools, equipment and infrastructure for Research & Development of emerging technologies and serves as a platform to help startups and students venturing into these emerging technologies.

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/img5.png")
                h3 Super Fab Lab
                p Fab Labs are fabrication laboratories that offer digital fabrication and computation. The facility is equipped with state-of-the art machines for rapid prototyping for startups.  First Super Lablab Facility in the country with the facilities like ZUND 3G,  OMAX 5555, Mitsubishi MV1200S-D Wire EDM

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/fund.png")
                h3 Grant funding  to Innovative Ideas
                p Innovation Grant scheme of Kerala Startup Mission  provides financial assistance  to entrepreneurs and students coming up with solutions for Social problems  to help them convert their innovative ideas into full fledged ventures. 

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/research.png")
                h3 Scaleup/ Research & Development Grant for startups
                p Kerala Startup Mission supporting highly innovative and social impact startups which could create large social change and employment to people through R & D Grant funding. 

          .col-sm-4.mt-3
            .card.h-100
              .card-body
                img.img-fluid(src="./img/women.png")
                h3 Women Entrepreneurship Startup Program
                p To encourage aspiring women professionals to take up the entrepreneurial journey and develop an inclusive entrepreneurship ecosystem in Kerala



    include parts/footer.pug

    script(src="./js/index.js")